@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

$white: #f3f3f3;
$red: #ca1d1d;
$grey: #333;

$smooth-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

//Initial Styling
html {
  font-size: 12px;
  position: relative;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: $white;
}

a {
  text-decoration: none;
  color: $white;
}

//Nav component
.Nav {
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($red, 0.75);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 3rem;
}

//Home screen (War selection component)
.Home {
  &__title {
    margin: 1rem auto;
    text-align: center;
    color: $grey;
  }
  max-width: 50rem;
  margin: 3rem auto 0 auto;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto);

    a {
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      text-shadow: 0px 0px 10px black;
      background-size: cover;
      background-position: center;
      transition: opacity 0.3s ease;
      margin: 0.1rem 0.2rem;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

//Card page
.War {
  min-height: 90vh;
}
.backBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 800;
  color: $grey;
  width: 100%;
  position: absolute;
  top: 37.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  .btn {
    background-color: $red;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border-radius: 50%;
    transition: transform 0.1s ease;
    user-select: none;
    &:hover {
      transform: scale(1.1);
    }
  }
}

//Card and slider styling
.card {
  height: 35rem;
  color: $white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;

  animation-name: fadeIn;
  animation-duration: 0.3s;

  &__year {
    background-color: rgba($red, 0.75);
    width: 50%;
    border-radius: 0 0 1rem 1rem;
    padding: 0 0.5rem;
    margin: 0 auto;
    text-align: center;
  }
  &__event {
    width: 90%;
    background-color: rgba($grey, 0.9);
    margin: 1rem auto;
    padding: 1rem;
    list-style: none;
    border-radius: 0.25rem;
  }
}

//Wrapper for cards
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.23, 0.5, 0.34, 0.92);
  .card {
    flex: 1;
    min-width: 25rem;
    opacity: 0.3;
    transform: scale(0.9);
    transition: opacity 0.3s linear,
      transform 0.3s cubic-bezier(0.23, 0.5, 0.34, 0.92), filter 0.1s ease;
    border-radius: 1rem;
    box-shadow: $smooth-shadow;
    filter: blur(0.2rem);
  }
}

//Loops through cards, and if active, applies the following styles
$i: 0;
@for $i from 0 through 10 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    user-select: auto;
  }
}

.cards-slider {
  position: relative;
  max-width: 25rem;
  margin: 0 auto;
}

/*   MEDIA QUERIES   */
// S Devices
@media (min-width: 576px) {
  html {
    font-size: 13px;
  }
}
// M Devices
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
// L Devices
@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}
// XL Devices
@media (min-width: 1300px) {
  html {
    font-size: 16px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
